<div class="col-lg-8" style="margin-top: 20px">
    <table class="table table-bordered" id="database_area">
        <thead>
            <tr>
                <th><h2 style="text-align:center;">Disease</h2></th>
                <th><h2 style="text-align:center;">Symptoms</h2></th>
            </tr>
        </thead>
        <tbody id="database"></tbody>
    </table>
</div>


<div style="margin-top: 20px" class="col-lg-4">
    <table class="table table-bordered" id="text_area">
        <tr>
            <th>
                <h2 style="text-align:center;">Input the database here</h2>
            </th>
        </tr>
        <tr>
            <th style="text-align:center">
                <textarea id="inputDiseases" style="resize:none"></textarea>
            </th>
        </tr>
        <tr>
            <th>
                <input type="button" name="submit" id="submit" class="btn btn-success" value="Submit" />
                <input type="button" name="clear" id="clear" class="btn btn-danger" value="Clear database" />
            </th>
        </tr>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            // We get the database from the API and append it to the table. 
            getDatabase();

            // Here we make the initial change to the TextArea size, 
            // Later on it will be changed depending on the table width.
            changeTextArea();

            // Upon resizing the window the TextArea width is changed with it.
            window.addEventListener('resize', function () {
                changeTextArea();
            });

            // When you click the submit button everything from the textarea 
            // will be placed into a list of strings and sent to the api. 
            // There it will be posted to the database and the page will be reloaded on success.
            $('#submit').click(function () {
                var lines = [];
                $.each($('#inputDiseases').val().split(/\n/), function (i, line) {
                    if (line) lines.push(line);
                });
                $.ajax({
                    type: "POST",
                    url: "/api/Diseases",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(lines),
                    dataType: "json"
                }).success(function (data) {
                    // Reloading the page after successful action
                    location.reload(true);
                });
            });

            // When clicking the Clear database button the delete method will be sent
            // to api/disease, which will clear the database table content. 
            // This should be removed when it goes live.
            $('#clear').click(function () {
                $.ajax({
                    type: "DELETE",
                    url: "/api/Diseases",
                }).success(function (data) {
                    // Reloading the page after successful action
                    location.reload(true);
                });
            }); 
        });

        // Function to change the width of the textarea.
        function changeTextArea() {
            // Getting the width of the table in which the textarea is in
            var boxWidth = $('#database_area').width() / 2;

            // As there are two tables in the page, if they both line up one under another then their width is the same
            // When that happens the textarea width will be changed to the width of the table to make it seem more natural.
            if ($('#database_area').width() == $('#text_area').width()) boxWidth = $('#database_area').width();

            // We divide the width by 1.1 so that it wouldn't cause glitches when resizing.
            $('#inputDiseases').css("width", boxWidth / 1.1);

            // We want the height to be almost half of the width. 
            $('#inputDiseases').css("height", boxWidth/2);
        }

        // This method gets information about database from the api and
        // appends it all to the table. Disease and the symptoms are lined up on the same row.
        function getDatabase() {
            $.ajax({
                type: "GET",
                url: "/api/Diseases",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    // First we remove any prior diseases in the page, if there are any.
                    // This is done to avoid any glitches
                    $("#disease").remove();

                    // Creating an empty string, to which we start adding html code with content
                    var ForAppending = '';

                    $.each(data, function (i, v) {

                        // To first column we add the Disease name and start the next column also
                        ForAppending += ('<tr class="disease"><th>' + v.name + '</th><th>')

                        // Foreach symptom we add it to the row as paragraphs so they line up under eachother
                        $.each(v.symptoms, function (i, s) {
                            ForAppending += ('<p>' + s + '</p>');
                        });

                        // Adding the closing html syntax
                        ForAppending += ('</th></tr>');

                        // Appending the html code to the table
                        $('#database').append(ForAppending);

                        // Clearing up the ForAppending for next loop.
                        ForAppending = '';
                    });
                }
            });
        }
    </script>
}