<div class="col-md-6" style="margin-top: 20px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td colspan="2">
                    <h4 style="text-align:center">
                        Three diseases with most symptoms
                    </h4>
                </td>
            </tr>
        </thead>
        <tbody id="diseases">

        </tbody>
    </table>
</div>

<div class="col-md-6" style="margin-top: 20px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <h4 style="text-align:center">Three most frequent symptoms</h4>
                </th>
            </tr>
        </thead>
        <tbody id="symptoms">

        </tbody>
    </table>
</div>

<div class="col-md-12" style="text-align: center">
    <b>Amount of unique symptoms: </b>
    <span id="symptomAmount"></span>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {
            getSymptoms();

            $.ajax({
                type: "GET",
                url: "/api/Symptoms/Amount",
                contentType: "application-json; charset=utf-8",
                dataType: "json"
            }).success(function (data) {
                document.getElementById("symptomAmount").innerHTML = data;
            })
            $.ajax({
                type: "GET",
                url: "/api/Symptoms/Top",
                contentType: "application-json; charset=utf-8",
                dataType: "json"
            }).success(function (data) {
                $.each(data, function (i, v) {
                    $('#symptoms').append('<tr class="symptom"><th>' + v + '</th></tr>');
                });
            })
        });

        function getSymptoms() {
            $.ajax({
                type: "GET",
                url: "/api/diseases/topthree",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    var ForAppending = '';

                    $.each(data, function (i, v) {
                        ForAppending += ('<tr class="disease"><th>' + v.name + '</th></tr>');
                        $('#diseases').append(ForAppending);
                        ForAppending = '';
                    });
                }
            });
        }               
    </script>
}