<div class="col-md-6" style="margin-top: 20px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td colspan="2">
                    <h4 style="text-align:center">
                        Three diseases with most symptoms
                    </h4>
                </td>
            </tr>
        </thead>
        <tbody id="diseases"></tbody>
    </table>
</div>

<div class="col-md-6" style="margin-top: 20px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <h4 style="text-align:center">Three most frequent symptoms</h4>
                </th>
            </tr>
        </thead>
        <tbody id="symptoms"></tbody>
    </table>
</div>

<div class="col-md-12" style="text-align: center">
    <b>Amount of unique symptoms: </b>
    <span id="symptomAmount"></span>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {

            // When the page is ready everything here will be loaded in.

            // This function gets top three symptoms from the api and then appends them
            // to the diseases <tbody>
            $.ajax({
                type: "GET",
                url: "/api/diseases/topthree"
            }).success(function (data) {
                $.each(data, function (i, v) {
                    // Diseases are appended to the diseases table
                    $('#diseases').append('<tr class="disease"><th>' + v.name + '</th></tr>');
                });
            })


            // After getting the symptoms - unique symptoms amount is requested from
            //  /api/symptoms/amount.
            $.ajax({
                type: "GET",
                url: "/api/Symptoms/Amount"
            }).success(function (data) {
                // Upon successful request the amount is placed into symptomamount span
                document.getElementById("symptomAmount").innerHTML = data;
            });


            // This method gets the top three symptoms from the api and appends it to
            //  the symptoms <tbody>
            $.ajax({
                type: "GET",
                url: "/api/Symptoms/Top"
            }).success(function (data) {
                $.each(data, function (i, v) {
                    // For each symptom that we recieve we create a new row and append it to 
                    // the symptoms <tbody>
                    $('#symptoms').append('<tr class="symptom"><th>' + v + '</th></tr>');
                });
            })
        });
    </script>
}