@*
    Reference:  https://www.webslesson.info/2016/02/dynamically-add-remove-input-fields-in-php-with-jquery-ajax.html
*@

<form name="add_symptom" id="add_symptom" style="margin-top: 20px;">
    <div class="table-responsive col-lg-6">
        <table class="table table-bordered" id="dynamic_field">
            <tr>
                <td style="width:100%;"><b class="form-control symptom0"></b></td>
                <td><button type="button" name="yes" id="yes" class="btn btn-success unused yes">Yes</button></td>
                <td><button type="button" name="no" id="no" class="btn btn-danger unused no">No</button></td>
            </tr>
        </table>
    </div>
</form>
<div class="table-responsive col-lg-6">
    <table id="symptoms" class="table table-bordered">
        <tr>
            <th>Diagnosis</th>
        </tr>
    </table>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {
            var positiveList = [];
            var negativeList = [];
            $.ajax({
                type: "POST",
                url: "/api/Symptoms/Question",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    positive: positiveList,
                    negative: negativeList
                }),
                dataType: "json",
                success: function (data) {
                    $('.symptom0').html(data);
                }
            });


            $(document).on('click', '.symptom_remove', function () {
                var button_id = $(this).attr("id");
                $('#row' + button_id + '').remove();
            });


            $('#submit').click(function () {
                var lines = [];
                $.each($('#add_symptom').serializeArray(), function (i, v) {
                    if (v.value) lines.push(v.value);
                });
                $.ajax({
                    type: "POST",
                    url: "/api/Symptoms",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(lines),
                    dataType: "json",
                    success: function (data) {
                        $(".symptom").remove();
                        $.each(data, function (i, v) {
                            $('#symptoms').append('<p class="symptom">' + v + '</p>');
                        });
                    }
                });
            });


            var i = 0;
            $(document).on('click', '.unused', function () {
                $('.unused').removeClass('unused').addClass('used');
                if ((this).innerHTML == "Yes") {
                    positiveList.push($('.symptom' + i).html());
                    $('.symptom' + i).css("background-color", "GreenYellow");
                }
                if ((this).innerHTML == "No") {
                    negativeList.push($('.symptom' + i).html());
                    $('.symptom' + i).css("background-color", "orange");
                }
                i++;

                $.ajax({
                    type: "POST",
                    url: "/api/Symptoms/Question",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        positive: positiveList,
                        negative: negativeList
                    }),
                    dataType: "json",
                    success: function (data) {
                        $(".symptom").remove();
                        if (data.name) {
                            $('#symptoms').append('<tr><th class="symptom" style="color:Green;">' + data.name + '</th></tr>');
                        } else {
                            $('#dynamic_field').append('<tr><td><b class="form-control symptom' + i + '">' + data + '</b></td><td><button type="button" name="yes" id="yes" class="btn btn-success unused">Yes</button></td><td><button type="button" name="no" id="no" class="btn btn-danger unused">No</button></td></tr>');
                        }
                    }
                });
            });
        });
    </script>
}
